name: Dock - Financial Technologies

on:
  push:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.9'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-playwright
          pip install pytest-xvfb
      - name: Ensure browsers are installed
        run: python -m playwright install --with-deps
      - name: Run the e2e test suite
        run: xvfb-run pytest tests
